# Archivos de configuración con claves y tokens sensibles
ConeccionMongo.py
ConeccionCasandra.py
requirements.txt
config.py
config.json
config.yaml
config.yml
config.ini
config.cfg
config.toml
config.env
config.sh
config.bash
config.zsh
config.ksh
config.csh
config.tcsh
config.rc
config.bat
config.cmd
config.ps1
config.vbs



# Archivos de variables de entorno locales
.env


# Archivos de caché y compilación
*.pyc
*.pyo
*.pyd
*.class
*.log

# Archivos de configuración del IDE
.idea/
.vscode/

# Archivos temporales de sistema
.DS_Store
Thumbs.db
