# Archivos de configuración con claves y tokens sensibles
ConeccionMongo.py
ConeccionCasandra.py

# Archivos de variables de entorno locales
.env

# Archivos de caché y compilación
*.pyc
*.pyo
*.pyd
*.class
*.log

# Archivos de configuración del IDE
.idea/
.vscode/

# Archivos temporales de sistema
.DS_Store
Thumbs.db
